@page
@model Test3.Pages.Shared.AboutPageModel
@{
}

<div class="bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display-5 fw-bold">Om oss</h1>
        <p class="col-md-8 mx-auto fs-4">Din guide till rätt receptfri medicin. Här kan du dela dina erfarenheter och få råd om hur du bäst hanterar olika sjukdomar med receptfria läkemedel.</p>
        <p class="col-md-8 mx-auto fs-4 text-black">Ställ dina frågor, dela dina erfarenheter, och hjälp andra att hitta rätt behandling!</p>
        <a class="btn btn-success btn-lg text-white" href="#forum" role="button">Gå till forumet</a>
    </div>
</div>