@page
@inject SignInManager<IdentityUser> SignInManager
@model Test3.Pages.AboutUsPageModel
@{
}


<br />
<br />
<br />
<br />

<div class="p-4 mb-4 bg-light rounded-3">
    <div class="container">
        <h1 class="display-5 fw-bold  mb-4">Om oss</h1>
        <p class="lead mb-5">Välkommen till Egenvårdsguiden – din pålitliga partner för egenvård och hälsa. Vi är ett forum dedikerat till att hjälpa dig hitta rätt receptfri medicin och ge råd om olika sjukdomar och hälsotillstånd. På Egenvårdsguiden kan du ställa frågor och dela dina egna erfarenheter med andra användare som har liknande problem eller lösningar.</p>
        <h1 class="display-5 fw-bold  mb-4">Vårt Uppdrag</h1>
        <p class="lead mb-5"> Vårt uppdrag är att skapa en plattform där människor kan hjälpa varandra att hitta effektiva och säkra egenvårdslösningar. Vi tror på kraften av delad kunskap och erfarenhet, och vi är här för att underlätta denna viktiga dialog.</p>
        <h1 class="display-5 fw-bold  mb-4">Våra Kategorier</h1>
        <p class="lead mb-3">För att göra det enkelt för dig att hitta relevant information har vi organiserat vårt forum i flera kategorier och underkategorier. Några av våra huvudkategorier inkluderar:</p>
        <ul>
            <br />
            <li>
                <h4 class="fw-bold lead">Hud: <span class="lead"> Här hittar du tips och råd om hudvård, från mjukgörande krämer till behandling av akne.</span></h4>
            </li> 

            <br />

            <li>
                <h4 class="fw-bold lead">Ansikte: <span class="lead"> Diskutera allt från ansiktsrengöringar och krämer till specifika problem som akne.</span></h4>
            </li>

            <br />

            <li>
                <h4 class="fw-bold lead">Händer och Fötter: <span class="lead"> Få råd om hur du kan ta hand om dina händer och fötter, inklusive behandlingar för nagelsvamp och fotsvamp.</span></h4>
            </li>
            <br />
            <li>
                <h4 class="fw-bold lead">Sår och Operationssår: <span class="lead"> Lär dig om bästa praxis för sårvård och hur du kan påskynda läkningsprocessen.</span></h4>
            </li>
            <br />
            <li>
                <h4 class="fw-bold lead">Sluta Röka:<span class="lead"> Utforska strategier för att sluta röka och uppnå en rökfri livsstil. Upptäck olika metoder för att hantera nikotinabstinens och bryta den beroendeframkallande cykeln. </span></h4>
            </li>
            <br />
            <li>
                <h4 class="fw-bold lead">Värk och Mage: <span class="lead"> Utforska lösningar för magproblem och värk. Upptäck olika strategier för att lindra symtom som trög mage, lös mage och halsbränna, samt hantera olika typer av värk som huvudvärk, muskelvärk och ledvärk. </span></h4>
            </li>
            <br />
            <li>
                <h4 class="fw-bold lead">Allergi och Förkylning: <span class="lead"> Utforska lösningar för allergier och förkylningar. Upptäck hur du kan hantera symtomen och minska deras påverkan på din vardag. </span></h4>
            </li>
            <br />
            <li>
                <h4 class="fw-bold lead">Gravid och Barn: <span class="lead"> Utforska råd och stöd för gravida kvinnor och småbarnsföräldrar. Hitta information om graviditet, förlossning, spädbarnsvård och barns hälsa och utveckling. </span></h4>
            </li>
            <br />
            <li>
                <h4 class="fw-bold lead mb-5">Gravid och Barn: <span class="lead"> Utforska lösningar för problem relaterade till ögon, näsa och öron. Upptäck hur du kan hantera torra ögon, ögonbesvär och inflammationer, samt lindra nästäppa och behandla allergi och bihålsinflammation. Få tips om hur du förebygger och behandlar öroninflammationer, balansproblem och överflödig öronvax. </span></h4>
            </li>
            
        </ul>
        <h1 class="display-5 fw-bold  mb-4">Vår Gemenskap</h1>
        <p class="lead mb-5">Egenvårdsguiden är mer än bara ett forum – det är en gemenskap. Vi strävar efter att skapa en trygg och stödjande miljö där alla kan dela sina berättelser och få stöd från andra. Din erfarenhet och dina råd kan göra en verklig skillnad för någon annan.</p>
        <h1 class="display-5 fw-bold  mb-4">Kontakt och Support</h1>
        <p class="lead mb-5">Har du frågor om hur du använder vårt forum, eller behöver du hjälp med något annat? Tveka inte att kontakta oss! Vi finns här för att stödja dig och se till att du får ut det mesta av din tid på Egenvårdsguiden.</p>
            
        <hr />
        <p class="lead mb-5">Vi hoppas att du hittar den information och det stöd du behöver här hos oss. Tillsammans kan vi förbättra vår hälsa och välmående genom delad kunskap och erfarenhet.</p>
        <hr />
        <p class="lead mb-5">Vi är glada att du är här och ser fram emot att bygga en stark och hjälpsam gemenskap tillsammans!</p>




    </div>
</div>

