@page
@model Test3.Pages.FAQPageModel
@{
    ViewData["Title"] = "Frågor & Svar";
}
<br />
<br />

<h1 class="mt-4">Frågor och Svar</h1>
<br />
<br />

<div class="container mt-3">
    <div class="row mb-4">
        <div class="col">
            <h5>1:  Vad är Egenvårdsguiden?</h5>
            <p>Svar: Egenvårdsguiden är en forumhemsida där användare kan dela erfarenheter och tips om receptfria mediciner och egenvård. Här kan du ställa frågor om olika mediciner, dela dina erfarenheter och få råd från andra användare.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h5>2:  Hur skapar jag ett nytt inlägg på forumet?</h5>
            <p>Svar: För att skapa ett nytt inlägg, logga in på ditt konto och gå till "Skapa Inlägg" Välj katagorin som passar, fyll i titel och innehåll. Klicka sedan på "Publicera".</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h5>3:  Kan jag redigera mitt inlägg efter att det har publicerats?</h5>
            <p>Svar: Ja, du kan redigera ditt inlägg genom att gå till ditt inlägg och klicka på "Redigera". Gör de ändringar du vill och klicka sedan på "Spara".</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h5>4:  Hur svarar jag på någon annans inlägg?</h5>
            <p>Svar: För att svara på ett inlägg, klicka på inlägget du vill svara på och sedan på "Svara". Skriv ditt svar i textfältet och klicka på "Publicera".</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h5>5:  Är det tillåtet att rekommendera receptbelagda mediciner?</h5>
            <p>Svar: Nej, Egenvårdsguiden fokuserar endast på receptfria mediciner och egenvård. Diskussioner om receptbelagda mediciner är inte tillåtna på forumet.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h5>6:  Vad gör jag om jag ser ett olämpligt inlägg?</h5>
            <p>Svar: Om du ser ett olämpligt inlägg, kan du rapportera det genom att klicka på "Rapportera" knappen vid inlägget. Administratörerna kommer att granska och ta lämpliga åtgärder.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h5>7:  Kan jag få medicinska råd från läkare på Egenvårdsguiden?</h5>
            <p>Svar: Nej, Egenvårdsguiden är en plattform för att dela erfarenheter och tips bland användare. För professionell medicinsk rådgivning bör du alltid konsultera en läkare eller annan kvalificerad sjukvårdspersonal.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h5>8:  Hur söker jag efter specifika ämnen eller frågor på forumet?</h5>
            <p>Svar: För närvarande har vi ingen sökfunktion på forumet. Vi rekommenderar att du bläddrar igenom kategorierna för att hitta specifika ämnen eller frågor.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h5>9:  Är mina personliga uppgifter säkra på Egenvårdsguiden?</h5>
            <p>Svar: Ja, vi tar din integritet på allvar och följer strikta riktlinjer för att skydda dina personliga uppgifter. Du kan läsa mer om vår integritetspolicy på vår hemsida.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h5>10: Hur ändrar jag mina kontoinställningar?</h5>
            <p>Svar: För att ändra dina kontoinställningar, logga in på ditt konto och gå till "Mina inställningar". Här kan du uppdatera din profil, ändra ditt lösenord och anpassa dina notifikationsinställningar.</p>
        </div>
    </div>
</div>




 
