@page
@model Test3.Pages.Admin.SubCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>UnderKategori</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.Name)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubCategory.Id" class="btn btn-success">Redigera</a> 
    <a asp-page="./Index" class="btn btn-secondary">Tillbaka till listan</a>
</div>
