@page
@model Test3.Pages.Admin.SubCategoryAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

@if (User.Identity.Name == "mike.1985@live.se")
{

<h1>Redigera</h1>

<h4>Underkategori</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubCategory.Id" />
            <div class="form-group">
                <label asp-for="SubCategory.Name" class="control-label"></label>
                <input asp-for="SubCategory.Name" class="form-control" />
                <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory.CategoryId" class="control-label"></label>
                <select asp-for="SubCategory.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="SubCategory.CategoryId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Spara ändringar" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-secondary">Tillbaka till listan</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

}