@page
@model Test3.Pages.Admin.CategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
@if (User.Identity.Name == "mike.1985@live.se")
{

<h1>Ta bort</h1>

    <h3>Är du säker på att du vill ta bort detta?</h3>
<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Category.Id" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> 
        <a asp-page="./Index" class="btn btn-secondary">Tillbaka till listan</a>
    </form>
</div>
}